<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">O</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Shopping Cart <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <!--
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Username
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Orders</a>
            <a class="dropdown-item" href="#">Manage Orders</a>
            <a class="dropdown-item" href="#">Manage Products</a>
            <a class="dropdown-item" href="#">Logout</a>
            
          </div>
        -->
          <div ngbDropdown class="d-inline-block">
            <!--
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Username</button>
            -->
            <a class="nav-link dropdown-toggle" href="#" id="dropdownBasic1" ngbDropdownToggle>
                Username
            </a>

            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a routerLink="/orders" class="dropdown-item">My Orders</a>
              <a routerLink="/manage-orders" class="dropdown-item">Manage Orders</a>
              <a routerLink="/manage-products" class="dropdown-item">Manage Products</a>
              <a href="#" class="dropdown-item">Logout</a>
            </div>
          </div>
        </li>
        
      </ul>
      
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>


